@charset "utf-8";

body{
  width: 240px;
  margin: 60px auto;
  font-weight: bold;
}
th,td{
  background-color: greenyellow;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid white;
}
td.safe{
  background-color: blue;
}
td.out{
  background-color: red;
}
